body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #e62429;
}

.sub-logo{
    font-size: 17px;
    color: #9b9898;
    position: relative;
    left: 10px;
    top: 4px;
}

.search-bar {
    flex-grow: 1;
    margin: 0 20px;
}

.search-bar input {
    color: black;
    width: 40%;
    height: 40px;
    position: relative;
    left: 390px;
    border-radius: 20px;
    border: 1px solid #ccc;
}

.nav-links a {
    margin-left: 20px;
    text-decoration: none;
    color: #333;
}

.character-cards {
    display: flex;
    justify-content: center;
    padding: 20px;
    position: relative;
    top: 200px;
}

.character-card {
    background-image: linear-gradient(135deg, #C33764 10%, #1D2671 100%);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0 10px;
    text-align: center;
    padding: 20px;
    width: 400px;
    height: 200px;
}

.character-card img {
    position: relative;
    right: 60px;
    bottom: 50px;
    height: 300px;
    width: 250px;
    border-radius: 8px;
}

.character-card h3 {
    color: white;
    font-size: 23px;
    position: relative;
    left: 95px;
    bottom: 340px;
}

.character-card p {
    color: white;
    position: relative;
    left: 95px;
    bottom: 360px;
}

.footer {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: white;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    top: 400px;
}

.footer a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
}
